.icon_wrapper {
  z-index: 150;
  position: relative;
}

@media (max-width: 991px) {
  .icon_wrapper {
    display: none;
  }
}

.icon_wrapper.logged_in::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
}

.icon_wrapper > i {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}
