.content_wrapper div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;
}

.content_wrapper div:not(:last-child) {
  margin-bottom: 10px;
}

.content_wrapper h4 {
  font-weight: 500;
  font-size: 20px;
}

.content_wrapper span {
  font-size: 18px;
  font-weight: 400;
}
