.background_image {
  position: relative;
  height: 350px;
}

.user_info {
  margin-top: -40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .user_info {
    padding-bottom: 20px;
  }
}

.user_info .user_image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 0px 1px 2px rgb(197, 197, 197);
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  border: 3px solid #fff;
  border-radius: 50%;
  text-transform: uppercase;
  user-select: none;
  z-index: 2;
}

.user_info .user_name {
  font-size: 20px;
}
