.product_list {
  margin: auto;
}

.products_info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.products_info .info_inner {
  padding: 18px 0;
  width: 95%;
  margin: auto;
}

.products_info h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .products_info h2 {
    font-size: 22px;
  }
}

.list_wrapper {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 30px;
}

@media (max-width: 767px) {
  .list_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 13px;
  }
}
