.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 200;
}

.modal .content {
  overflow: auto;
}

.modal_header {
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
}

.modal_header h4 {
  font-size: 24px;
  padding: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .modal_header h4 {
    padding: 11.4px;
  }
}

.modal_header i {
  width: 55px;
  border-left: 1px solid #e1e1e1;
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .modal_header i {
    width: 70px;
  }
}
